@use '@/styles/colors.scss';

.LoginContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: fit-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid black;
  padding: 2rem;
  border-radius: 5px;
  background-color: colors.$white;
}

.Login {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    width: 100%;
    min-width: 20rem;
  }
}
