.ChartControllers {
  display: grid; 
  grid-template-columns: min-content min-content; 
  grid-template-rows: min-content min-content min-content; 
  gap: 0.5rem 1rem;

  grid-template-areas: 
    "save save"
    "frets strings"
    "wrap wrap"; 
}

.SaveSongButton {
  grid-area: save;
}

.WrapCheckbox {
  grid-area: wrap;
}
