@use '../../colors.scss';

.ContextMenu {
  position: fixed;
  background-color: white;
  border: 1px solid colors.$gray;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  width: fit-content;
}

.ContextMenuItem {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: colors.$gray;
  }

  &[data-type='danger'] {
    color: colors.$red;
  }
}
