@use '@/styles/colors.scss';
@use '@/styles/screen-sizes.scss' as screenSizes;

.HeaderBar {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.Header {
  display: flex;
  align-items: baseline;
  gap: 1rem;

  h1 {
    white-space: nowrap;
  }

  ul {
    list-style: none;

    li {
      a {
        white-space: nowrap;
      }
    }
  }

  .MenuOptionsExtraSmall {
    margin-left: auto;
    align-self: center;

    @media (min-width: screenSizes.$sm) {
      display: none;
    }
  }

  .MenuOptionsSmallOrBigger {
    display: none;

    @media (min-width: screenSizes.$sm) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex: 1;
    }
  }
}

.FlexVerticalCenterWithGap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.MenuOptionsContainer {
  padding: 0.5rem 1rem;
  background: colors.$lightgray;
  border-radius: 5px;

  ul {
    list-style: none;

    li {
      a {
        white-space: nowrap;
      }
    }
  }

  .DivisorTop {
    border-top: 1px solid colors.$gray;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }

  @media (min-width: screenSizes.$sm) {
    display: none;
  }
}

.ContentContainer {
  padding: 0.5rem 1rem;
  padding-top: 0;
}
