@use '@/styles/colors.scss';

.BlockUI {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: colors.$black;
  opacity: 0.5;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}
