@use '../../colors.scss';

.Song {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.SongTitleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  position: sticky;
  top: 0;
  background-color: colors.$white;
  z-index: 1;
}

.CheckboxContainer {
  align-items: center;
}
