$white: #FFF;
$black: #333;
$gray: #C0C0C0;
$lightgray: #EFEFEF;
$red: #B22222;
$blue: #4682B4;
$green: #22A442;

$notes-colors: (
  #0D9A9C,
  #22A442,
  #C4D21E,
  #FAEF0F,
  #FDB605,
  #FB7A16,
  #F44D1A,
  #D91B23,
  #9C1C67,
  #992391,
  #682899,
  #213B96,
);
